<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<body>
  <h1>Image converter</h1>
  <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="images" enctype="multipart/form-data" method="post">
      <div class="btn btn-grey">
        <input type="file" name="image">
      </div>

      <input type="submit" class="btn" />
    </form>
    <br>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>